
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');


h1 {
    text-align: center;
}
body {
background-color: aliceblue;
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
} 
#card {
    
    
    display: flex;
    background-color: rgb(194, 243, 78);
    justify-content: center;
    text-align: center;
    width: 600px;
    border: red solid 2px;
    border-radius: 20px;
    margin-top: 30px;
    

}
.pokemon-form {
    text-align: center;
}
.container {
    background-color: rgb(161, 187, 144);
}




    
